absl-py==0.10.0
altgraph==0.17
astroid==2.4.2
astunparse==1.6.3
auto-py-to-exe==2.7.8
automatic-speech-recognition==1.0.4
bottle==0.12.18
bottle-websocket==0.2.9
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
colorama==0.4.3
configparser==5.0.0
crayons==0.4.0
DateTime==4.3
Eel==0.12.4
fake-useragent==0.1.11
ffmpy==0.2.3
future==0.18.2
gast==0.3.3
gevent==20.6.2
gevent-websocket==0.10.1
google-api-core==1.22.2
google-auth==1.21.2
google-auth-oauthlib==0.4.1
google-cloud-core==1.4.1
google-cloud-storage==1.31.1
google-crc32c==1.0.0
google-pasta==0.2.0
google-resumable-media==1.0.0
googleapis-common-protos==1.52.0
googletrans==3.1.0a0
greenlet==0.4.16
grpcio==1.32.0
h11==0.9.0
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
isort==4.3.21
Keras-Preprocessing==1.1.2
keyboard==0.13.5
lazy-object-proxy==1.4.3
Markdown==3.2.2
mccabe==0.6.1
MouseInfo==0.1.3
numexpr==2.7.1
numpy==1.19.1
oauthlib==3.1.0
opencv-python==4.4.0.42
opt-einsum==3.3.0
pandas==1.1.2
pefile==2017.9.3
Pillow==7.2.0
Pillow-PIL==0.1.dev0
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.50
pycparser==2.20
pydub==0.24.1
pyfiglet==0.8.post1
pygame==2.0.0.dev10
PyGetWindow==0.0.8
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.8
pylint==2.5.3
Pymem==1.4
PyMsgBox==1.0.8
pyngrok==5.0.1
pynput==1.6.8
pyperclip==1.8.0
PyRect==0.1.4
PyScreeze==0.1.26
PySide2==5.15.2
PySocks==1.7.1
pyspellchecker==0.5.4
python-dateutil==2.8.1
python-speech-features==0.6
PyTweening==1.0.3
pytz==2020.1
pywin32==228
pywin32-ctypes==0.2.0
PyYAML==5.3.1
requests==2.24.0
requests-oauthlib==1.3.0
rfc3986==1.4.0
rsa==4.6
scipy==1.5.2
selenium==3.141.0
shiboken2==5.15.2
simple-draw==2.6.9.dev1
six==1.15.0
sniffio==1.2.0
spark-parser==1.6.1
SpeechRecognition==3.8.1
tables==3.6.1
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
toml==0.10.1
tqdm==4.48.2
uncompyle6==2.11.5
unpy2exe==0.3
urllib3==1.25.9
webdriver-manager==3.2.2
Werkzeug==1.0.1
whichcraft==0.6.1
wrapt==1.12.1
xdis==3.5.5
zope.event==4.4
zope.interface==5.1.0
